<!doctype html>
<html>
<meta charset="utf-8">
<title>Peniel SDA</title>
<style>
header, footer, section, article {
	border: 1px solid grey;
	margin: 5px;
	margin-bottom: 15px;
	padding: 8px;
	background-color: white;
}

header, footer {
	color: white;
	background-color: #444;
	margin-bottom: 5px;
}

section {
	background-color: #ddd;
}

nav {
	background-color: #faa;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 5px;
}

nav ul form {
	display: inline;
	margin: 5px;
}
</style>
<body>
	<nav>
		<ul>
			<li><a href="#">Popular Pages</a></li>
			<li><a href="sitemap.html">Sitemap</a></li>
			<li><form action="#">
					<input type="text" name="query" /><input type="submit"
						value="Search" name="submit" />
				</form></li>
		</ul>
	</nav>
	<hr />
	<!--p class="ol_a1"><%= link_to "Account", account_path %></p>
	<p class="ol_a2"><%= link_to "Register", account_register_path %></p>
	<p class="ol_a2"><%= link_to "Log In", account_login_path %></p>
	<p class="ol_a2"><%= link_to "Log Out", account_logout_path %></p>
	<p class="ol_a2"><%= link_to "Leave", account_leave_path %></p>
	<p class="ol_a2"><%= link_to "Settings", account_settings_path %></p-->
	<nav>
		<ul>
			<li><a href="#">About Peniel</a></li>
			<li><a href="#">About Adventism</a></li>
			<li><a href="#">About Christianity</a></li>
		</ul>
	</nav>
	<nav>
		<h3>Learn More</h3>
		<ul>
			<li><a href="#">About the Bible</a></li>
			<li><a href="#">About Science</a></li>
			<li><a href="#">About Health</a></li>
		</ul>
	</nav>
	<nav>
		<h3>What's Happening</h3>
		<ul>
			<li><a href="#">In the World</a></li>
			<li><a href="#">In the Church</a></li>
			<li><a href="#">Here at Peniel</a></li>
		</ul>
	</nav>
	<nav>
		<h3>Resources</h3>
		<ul>
			<li><a href="#">Media</a></li>
			<li><a href="#">Store</a></li>
			<li><a href="#">Games</a></li>
			<li><a href="#">Other Sites</a></li>
		</ul>
	</nav>
	<nav>
		<h3>Contribute</h3>
		<ul>
			<li><a href="#">Donations and Offerings</a></li>
			<li><a href="#">Become a Maintainer</a></li>
		</ul>
	</nav>
	<nav>
		<h3>References</h3>
		<ul>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Departments</a></li>
			<li><a href="#">Web Developer</a></li>
		</ul>
	</nav>
</body>
</html>