/* line 1, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
header, footer, section {
  margin: 1em;
  padding: .5em;
}

/* line 6, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
div.headmainfoot {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 19, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
header.headmainfoot {
  order: -999999999;
  flex-grow: 0;
  flex-shrink: 1;
  height: 10em;
  border-style: solid;
  border-color: #444;
  border-width: 1px;
}

/* line 29, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
main.headmainfoot {
  flex-grow: 1;
  flex-shrink: 3;
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-color: #444;
  border-width: 1px;
}

/* line 40, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
footer.headmainfoot {
  order: 999999999;
  flex-grow: 0;
  flex-shrink: 1;
  border-style: solid;
  border-color: #444;
  border-width: 1px;
}

/* line 51, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body .bubble {
  background-color: #ddf;
}

/* line 56, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark {
  background-color: #555;
  background-image: url(/assets/backgrounds/black-tie_trans-back-32c0c08883e056c3892107fed53aa9dd57a9942f554ce76bff3d6286fb2c744b.png);
  background-size: 20%;
  color: #ffffff;
}
/* line 61, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  background-color: #aaa;
  background-image: url(/assets/backgrounds/penuel_000_banner_001-98641353ce77b7180c08620cb9eb14b5b076333176a60f9d7c39980fb09cf09f.png);
  background-size: contain;
}
/* line 71, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 4em;
  background-color: transparent;
}
/* line 81, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner nav.hmenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  order: 999999999;
  flex-grow: 0;
  flex-shrink: 0;
  height: 1.5em;
  margin: 0;
  background-color: rgba(80, 80, 80, 0.5);
}
/* line 93, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner nav.hmenu div.hmenubutton {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 6em;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  background-color: rgba(64, 64, 64, 0.5);
  color: white;
  font-weight: bold;
  text-size: 15px;
}
/* line 109, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner nav.hmenu div.hmenubutton a:link, body.antique-dark header#banner nav.hmenu div.hmenubutton a:visited {
  color: #ccc;
  text-decoration: none;
}
/* line 110, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner nav.hmenu div.hmenubutton a:active {
  color: white;
  text-decoration: none;
}
/* line 112, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner nav.hmenu div.hmenubutton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 114, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark header#banner nav.hmenu div.hmenubutton:hover a:hover {
  color: black;
}
/* line 118, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark main {
  background-color: rgba(184, 184, 184, 0.7);
}
/* line 120, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark main header, body.antique-dark main main {
  margin: 0;
  background-color: transparent;
}
/* line 124, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark main main {
  padding: .5em;
}
/* line 128, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark footer {
  background-color: rgba(216, 216, 216, 0.7);
}
/* line 131, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark footer pre {
  background-color: #eee;
}
/* line 134, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark h1 {
  color: #ffffff;
}
/* line 137, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark h2, body.antique-dark h3, body.antique-dark h4, body.antique-dark h5, body.antique-dark h6 {
  color: #555;
}
/* line 140, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark section.portal {
  margin: .5em;
  background-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  border-color: #ddf;
  border-width: 1px;
}
/* line 146, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark section.portal p {
  color: #555;
}
/* line 149, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark section.portal h1, body.antique-dark section.portal h2, body.antique-dark section.portal h3, body.antique-dark section.portal h4, body.antique-dark section.portal h5, body.antique-dark section.portal h6 {
  color: #bbb;
}
/* line 152, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark section.portal footer {
  background-color: #bbb;
}
/* line 156, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
body.antique-dark .debug {
  background-color: #eee;
}

/* line 161, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
#construction {
  width: 200px;
  height: 200px;
  text-align: center;
}

/* line 167, C:/Users/Lloyd/Workspace/1oneWolf/Peniel SDA/Peniel3/app/assets/stylesheets/style.scss.erb */
li.hor-menu {
  display: inline;
}
