<h2>About Peniel SDA</h2>
<p>Welcome to the Peniel Seventh-day Adventist Church (Fort Myers). Thank you for visiting us! The Peniel Seventh-day Adventist Church (Fort Myers) is a member of the Southeastern Conference (Florida).</p>