<% content_for :header do %>
  <h1>Peniel SDA - About Us</h1>
<% end %>

<header>
<%= render 'adventism_intro' %>
</header>

<main>
<h2>What Seventh-day Adventists Believe</h2>
<p>As a Christian church, Seventh-day Adventists are a faith community rooted 
in the beliefs described by the Holy Scriptures.</p>

<h2>Fundamental Beliefs of the Seventh-day Adventist Church</h2>
<p>Seventh-day Adventists accept the Bible as their only creed and hold 
certain fundamental beliefs to be the teaching of the Holy Scriptures. These 
beliefs, as set forth here, constitute the church's understanding and 
expression of the teaching of Scripture.</p>
</main>

<% content_for :footer do %>
<% end %>