<% content_for :header do %>
  <h1>Peniel SDA - About Us</h1>
<% end %>

<%= render 'introduction' %>

<%= render partial: 'peniel_intro', layout: 'layouts/portal', locals: {id_name: 'peniel', link_url: about_peniel_path} %>

<%= render partial: 'adventism_intro', layout: 'layouts/portal', locals: {id_name: 'adventism', link_url: about_adventism_path} %>

<%= render partial: 'christianity_intro', layout: 'layouts/portal', locals: {id_name: 'christianity', link_url: about_christianity_path} %>

<% content_for :footer do %>
<% end %>