// Place all the styles related to the navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	counter-reset: ol_a1;
}

@for $i from 1 through 10 {
	.ol_a#{$i} {
		padding-left: $i * 20px;
		@if $i < -10 {
			@for $j from $i + 1 through 10 {
				counter-reset: ol_a#{$j};
			}
		}
		&:before {
			counter-increment: ol_a#{$i};
			content: counter(ol_a#{$i}) ". ";
		}
	}
}