<% content_for :header do %>
  <h1>Peniel SDA - Navigation</h1>
<% end %>

<header>
<%= render 'popular_intro' %>
</header>

<main>
<%= image_tag "construction.png", id: 'construction' %>
</main>

<% content_for :footer do %>
<% end %>