<% content_for :header do %>
  <h1>Peniel SDA - Navigation</h1>
<% end %>

<%= render 'search_intro' %>

<%= image_tag "construction.png", id: 'construction' %>

<% content_for :footer do %>
<% end %>